<div class="row">
	<div class="col-sm-2 col-md-2 col-lg-2">
	<h1>usrs --not using vowels is cool</h1>
	<% @users.each do |user| %>
		
		<h3><%= link_to user.name, user_path(user)%></h3>
		

		<%= link_to "edit", edit_user_path(user), class: "editLink"%>
	<%end%>
	</div>
	<div class="col-sm-2 col-md-2 col-lg-2">
	<h1>ORGS --like scientology</h1>
	<% @organization.each do |org|%>
		<h3><%= link_to org.name, organization_path(org) %></h3>
	<%end%>

	<!-- <h1>Skillz</h1>
	<% @skill.each do |skill|%>
		<h3><%= link_to skill.name, skill_path(skill) %></h3>
	<%end%>
	 -->
	</div>
</div>