<h4 style="color:pink;">username</h4>
<h1><%= @user.name %></h1>
<h4 style="color:pink;">email</h4>
<h5><%= @user.email %></h5>
<h4 style="color:pink;">skill</h4>
<% @user.skills.each do |skill| %>
	<h5><%= skill.name %></h5>
<% end %>
<h4 style="color:pink;">occupation</h4>
<% @user.occupations.each  do |occupation| %>
	<h5><%= occupation.title %></h5>
<%end%>